html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #c7f0d8;
}

#canvas-wrapper {
  display: flex;
  justify-content: center;
  width: 1280px;
  margin: 4rem 2rem 2rem 2rem;
}

.github {
  position: absolute;
  right: 0.75rem;
  bottom: 0.25rem;
  color: #43523d;
  font-family: Arial;
  font-size: 0.75rem;
  text-decoration: none;
  transition: color 300ms ease;
}

.github:hover {
  color: #1e251b;
}